.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

main > .container {
  padding: 60px 15px 0;
}

#form_login {
  width: 18rem;
}

.container--form {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

}
