
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">express starter</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item{{#if projects}} active{{/if}}">
            <a class="nav-link" href="/projects">projects{{#if projects}} <span class="sr-only">(current)</span>{{/if}}</a>
          </li>
          <li class="nav-item{{#if about}} active{{/if}}">
            <a class="nav-link" href="/about">about{{#if about}} <span class="sr-only">(current)</span>{{/if}}</a>
          </li>

          <li class="nav-item{{#if contact}} active{{/if}}">
            <a class="nav-link" href="/contact">contact{{#if contact}} <span class="sr-only">(current)</span>{{/if}}</a>
          </li>
          <li class="nav-item{{#if profile}} active{{/if}}">
            <a class="nav-link" href="/profile">profile{{#if profile}} <span class="sr-only">(current)</span>{{/if}}</a>
          </li>
        </ul>


      </div>
    </nav>
  </header>  

