<section class="container">
  <h1 class="text-center">{{title}}</h1>

  <div class="row">
    <div class="col-md-12">
      <ul>
        {{#each projects}}
        <li>{{this.title}} <small>{{this.code}}</small>
        {{#if this.items}}
          <ul>
          {{#each this.items}}
            <li>{{this.title}}</li>
          {{/each}}
          </ul>
          


        {{/if}}
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
  
</section>
