</div>
<section class="container--form">
    <form class="card border-dark mb-3" id="form_login">  
      <header class="card-header bg-transparent border-dark">
        <legend>login</legend>
        <div class="alert alert-danger text-center fixed-top" role="alert" data-message="form_message"></div>
      </header>
      <main class="card-body text-dark">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="text" class="form-control" name="email" id="email">
          
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="password">
        </div>
      </main>
      <footer class="card-footer bg-transparent border-dark">
        <button type="submit" class="btn btn-dark">log in</button>
      </footer>
    </form>
</section>

 
