<!DOCTYPE html>
<html lang="en">
{{> _head}}

<body class="d-flex flex-column min-vh-100">

  {{#if user}}

  {{> _header}}

  {{/if}}
  
  
  
  <main>
  {{{body}}}
  </main>

  {{#if user}}

  {{> _footer}} 

  {{/if}} 
  
  {{> _scripts}}
</body>

</html>