<!DOCTYPE html>
<html lang="en">
{{> _head}}

<body class="d-flex flex-column min-vh-100">
  {{> _header}}
  <main>
  {{{body}}}
  </main>
  {{> _footer}}
  {{#if script_work}}  
  {{> _scripts}}
  {{/if}}
</body>

</html>